body{height: 100vh;
width: 100vw;
background-color: rgb(104, 100, 100);}
.first{
    height: 60vh;
    margin: 16px;
    padding: 16px;
    border-radius: 25px;
  border: 2px solid #73AD21;
    padding: 0px;
    width: 60vw;
    height: 80vh;
    text-align: center;
    justify-content: center;
    align-items: center ;
    background-color: rgb(51, 47, 51);
}
.buttons{
    margin: 16px;
}
.btn2{
    color:black;
    border-radius: 6px;
    background-color: white;
    border: 2px solid #73AD21;
    font-weight: bold;
    margin: 10px;
    margin-left: 5px;
    text-align: center;}
.btn{color:black;
    border-radius: 6px;
    background-color: white;
    border: 2px solid #73AD21;
    font-weight: bold;
    margin: 10px;
    margin-left: 40px;
    text-align: center;}

.btn2:hover{background-color: #73AD21;
    border-radius: 6px;
border: 1px solid white;
font-weight: bold;
color: white;
}
.btn:hover{background-color: rgb(185, 9, 9);
    border-radius: 6px;
    border: 1px solid white;
    font-weight: bold;
color: white;}
h1{ background-color: #73AD21;
text-align: center;
margin: 0 0 0;
padding: 0 0 0;
color:white;
text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
font-size: 35px;
border-radius: 5px;
border: 2px solid rgb(255, 255, 255);
font-weight: bold;
width: 80vw;
height: 45px}
.delete{color:black;
    background-color: white;
    border-radius: 8px;
    border: 2px solid #73AD21;
    font-size: 10px;
    font-weight: bold;
    height: 5vh;
    padding: 5px;
    margin: 2px;
    text-align: center;}
.add{color:black;
    padding: 5px;
    font-weight: bold;
    margin: 2px;
    border-radius: 8px;
    border: 2px solid #73AD21;
    height: 5vh;
    font-size: 10px;
    text-align: center;
background-color: white;}
.enter{color:black;
    height: 5vh;
    font-weight: bold;
    width: 45vw;
border-radius: 8px;
border: 2px solid #73AD21;
text-align: center;}
.li{color: white;
text-decoration: underline solid #73AD21;
font-weight: bold;}

.enter:hover{background-color: rgb(205, 228, 158);
color:black;
border-radius: 8px;
    border: 2px solid white;
    font-weight: bold;}

.add:hover{background-color: #73AD21;
    border-radius: 8px;
border: 1px solid white;
font-weight: bold;
color: white;
}


.delete:hover{background-color: rgb(185, 9, 9);
    border-radius: 8px;
    border: 1px solid white;
color: white;
font-weight: bold;}
.second{margin: 0;
padding: 0;}


@media only screen and (max-width: 502px){
    h1{font-size: 25px;
        width: 80vw;
        height: 30px}

}

@media only screen and (max-height: 470px){
    .add{width:60px;
        font-size:10px;
    height: 22px;}
    .delete{width:60px;
        height: 22px;
        font-size:10px;}
}